.escolha {
        display: none;
        height: 100%;
        background-color: black;
        align-items: center;
        flex-direction: column;
        opacity: 0;
        transition: opacity 0.5s ease;
}

.escolha__personagens {
        display: flex;
        height: 80%;
        width: 75%;
        background-color: black;
        justify-content: space-around;        
}

.escolha__personagens>button {
        height: 80%;
        width: 30%;
        margin-top: 3.5%;   
}

.escolha__personagens>button:hover {
        transform: scale(1.2);
        filter: brightness(1.2);
}

.escolha__personagens>button:active {
        transform: scale(1);
        filter: brightness(1);
        transition: transform 0.1s, filter 0.2s;
}

.escolha__topMenu {
        width: 100%;
        display: flex;
        justify-content: space-between;
}

.escolha__texto {
        color: var(--texto-branco);
        font-family: 'lobbyFont', sans-serif;
        font-size: 3vw;  
}

.posicaoRetornar-escolherPersonagem {
        font-size: 3vw;
        margin-left: 0.5%;
        padding: 0px;
}

.posicaoRetornar-escolherPersonagem:hover{
        color: rgb(119, 113, 79);
}
.posicaoX-escolherPersonagem {
        font-size: 2vw;
        margin-right: 0.5%;
}