@font-face {
   font-family: 'userFont'; /* Escolha um nome para a sua fonte */
   src: url('../../../font/contb.ttf') format('truetype'); /* Substitua pelo caminho real da sua fonte */
}

@keyframes brilho {
  0% {
    filter: brightness(0.9) hue-rotate(0deg);
  }
  50% {
    filter: brightness(1.2) hue-rotate(22deg);
  }
  100% {
    filter: brightness(0.9) hue-rotate(0deg);
  }
}

.menssagens {
  animation: brilho 2.2s infinite; /* Ajuste a duração conforme necessário */
}

.efeito {
  animation: brilho 2.2s infinite; /* Ajuste a duração conforme necessário */
}



.efeito{
  display: none;
  position: absolute;
  height: 8%;
  width: 46.6%;
  box-shadow: 0px 0px 1vw rgb(123, 143, 129);
  left: 24.2%;
  top: 90%;
  transition: all 3s ease;

}
.menssagens{
     display: none;
     height: 88%;
     width: 48%;
     background-image: url(../../../img/infor/infoConvite.webp);
     background-size: cover;
     font-family: 'Fredoka One', cursive;
     color:rgb(200, 197, 197);
     -webkit-text-stroke: 0.12vw black; 
     font-size: 1.6vw;
     margin-bottom: 1%;
 }
 
 .menssagens strong{
   font-family: 'lobbyFont';
   color:rgb(200, 197, 197);
   -webkit-text-stroke: 0.04vw rgb(68, 26, 26); 
   font-size: 1.4vw;
 }

 #mandadoSolitacao , #convite {
   position: relative;
   top: 37%;
   width: fit-content;
   margin-left: auto;
   margin-right: auto;

   
 }

 #mandadoSolitacao strong{
   font-size: 1.4vw;
 }

 #mandadoSolitacao{
   font-size: 1.6vw;
   position: relative;
   top: 38%;
 }

 .menssagens div{
    position: relative;
    top: 37%;
   
 }

 .menu-botton{
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;  
    align-items: center;

    width: 100%;  
     /* gap: 0.5rem; */
    height: 6vw;
    margin-top: auto; 
     /* border: 1px solid red;  */
 }

 
 .aceitaSolicitacao {
  -webkit-text-stroke: 0.08vw rgb(14, 46, 10); 
  background-color: transparent;
  color:  rgb(0, 154, 26);
   border: 0;
   font-size: 1.6vw;
   margin-left: 1.8%;

}

.recusarSolicitacao{
  -webkit-text-stroke: 0.08vw rgb(239, 0, 0); 
  background-color: transparent;
  color: red;
   border: 0;
   font-size: 1.5vw;
   margin-left: 1.2%;

  }

  .mensagem-convites{
    width: 130%;
   
  }

  .aceitaSolicitacao:hover {
    transform: scale(1.5);
  }

  .recusarSolicitacao:hover{
    transform: scale(1.5);
  }