
@font-face {
    font-family: 'fontZombie'; /* Escolha um nome para a sua fonte */
    src: url('../../../font/zombies.TTF') format('truetype'); /* Substitua pelo caminho real da sua fonte */
  }


.botao-jogar {
    position: relative;
    top: 65%; /* Ajuste conforme necessário para posicionar verticalmente */
    left: 36.5%; 
    width: 25%;
    height: 14%;
    font-size: 2.8vw;
    background-color: transparent;
    border: 0px;
    background-image: url(../../../img/buttons/playButton.png);
    background-size: cover;
    font-family: 'fontZombie', sans-serif;
    color:var(--texto-branco);
    text-shadow: var(--texto-contorno);
    transition: opacity 0.8s ease;
}

.botao-jogar:hover {
    transform: scale(1.1); 
    filter: brightness(1.1);
}

.botao-jogar:active {
    transform: scale(1); 
    filter: brightness(1); 
    transition: transform 0.1s, filter 0.2s;
}