/* .game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 20%;
    border: 1px soli;
    
} */

#board {
    position: absolute;
    left: 13%; 
    top:14%;
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;

}

/* Estilos para as células do tabuleiro */
.cell {
    /*border: 1px solid red;*/
    width: 8.8%;
    height: 98%;
     display: inline-flex;
}

.row {
    width: 100%;
    height: 20%;
}

.navbar {
    display: flex;
    gap: 5%;
    position: absolute;
    top: 3%;
    left: 17%;
    width: 60%;
    height: 10%;
}

.navbar .style-resize {
    display: flex;
    width: 50%;
    height: 100%;
}

.style-resize > div {
    width: 14%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

.card{
    transition: .35s;
    cursor: pointer;
}

.style-resize:hover > :not(:hover){
    opacity: .4;
    transform: scale(0.9);
}

.sunflower{
    background-image: url('./img/cards/plants/sunFlower-transformed.svg');
}

.peashooter{
    background-image: url('./img/cards/plants/peashooter-transformed.svg');
}

.showpea{
    background-image: url('./img/cards/plants/showPea-transformed.svg');
}

.repeater{
    background-image: url('./img/cards/plants/repeater-transformed.svg');
}

.wallnut{
    background-image: url('./img/cards/plants/wallNut-transformed.svg');
}

.cherrybomb{
    background-image: url('./img/cards/plants/cherryBomb-transformed.svg');
}

.potatomine{
    background-image: url('./img/cards/plants/potatomine-transformed.svg');
}



.cardtombstone{
    background-image: url('./img/cards/zombies/coneheadZombie-transformed.svg');
}

.zombies{
    background-image: url('./img/cards/zombies/regularZombie-transformed.svg');
}

.conehead{
    background-image: url('./img/cards/zombies/coneheadZombie-transformed.svg');;
}

.buckethead{
    background-image: url('./img/cards/zombies/bucketheadZombie-transformed.svg');
}

.flagzombie{
    background-image: url('./img/cards/zombies/flagZombie-transformed.svg');
}

.football{
    background-image: url('./img/cards/zombies/footballZombie-transformed.svg');
}

.screendoor{
    background-image: url('./img/cards/zombies/screenDoorZombie-transformed.svg');
}



.enter{
    border: dashed 2px #bbb;
}