.testeSessions{
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    height: 100%;
    background-color: aliceblue;
}

.sair{
    width: 12%;
    height: 10%;
    font-size: 2vw;
    margin-top: auto;

}