body {
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

main {
    border: 1px solid rgb(95, 95, 95);
    width: 100%;
    aspect-ratio: 1275/590;
    /* width: 1275px;
    height: 590px; */
    position: fixed;
    background-image: url(../img/brackground/menu-principal2.png);
    background-size: cover;
    transition: opacity 0.8s ease;

   
}
