@import "./seletor.css";
@import "./navBarCards.css";
@import "./menu.css";

.board {
    box-sizing: border-box;
    position: absolute;
    left: 12%;
    top: 17%;
    width: 59%;
    height: 77.4%;

    /* border: 1px solid red; */

}

/* Estilos para as células do tabuleiro */
.cell {
    box-sizing: border-box;
    /* border: 1px solid rgb(0, 68, 255); */
    width: 10%;
    height: 100%;
    position: relative;

}

.row {
    box-sizing: border-box;
    width: 100%;
    height: 20%;
    display: flex;

}

.telaAjax{
    position: absolute;
    top: 0;
}